<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sonarqubescan.mapper.RawIssueMapper">

    <insert id="insertRawIssueList">
        insert into raw_issue
        (
        uuid,
        type,
        detail,
        file_name,
        repo_uuid,
        commit_id,
        code_lines
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.type},
            #{item.detail},
            #{item.fileName},
            #{item.repoUuid},
            #{item.commitId},
            #{item.codeLines}
            )
        </foreach>
    </insert>

</mapper>